@import '../styles/index.scss';

.ourservices {
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;
}

.ourservices__wrapper {
  padding-top: 9.6rem;
}

.ourservices__heading__wrapper {
  margin: 2.4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourservices__title {
  margin-bottom: 3.6rem;
  @extend %title-52;
}

.ourservices__description {
  @extend %text-18;
  width: 60%;
  margin: auto;
  text-align: center;
}

.oursevices__services__wrapper {
  padding: 6.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:3.6rem;
  flex-wrap: wrap;

  @include media('<duo') {
    flex-wrap: wrap;
  }
}

.oursevices__service__wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;

  @include media('<duo') {
    width: 40%;
  }
}

.oursevices__service__icon__wrapper {
  margin-bottom: 1.6rem;
}

.oursevices__service__name {
  @extend %text-18;
  font-weight: 500;
}

.ourservices__service__description {
  text-align: center;
  @extend %text-14;
  font-weight: 400;
}

.pricing__wrapper {
  margin: 9.6rem auto;
}

.pricing__table__heading__wrapper {
  &.v2{
    @include media('<duo') {
      gap: 2.4rem;
    }
  }

}