@import '../../styles/index.scss';

.textblock {

}

.textblock__wrapper {
  padding: 9.6rem 20%;
  text-align: center;
  background-color: $color-gray;

  @include media('<tablet-v') {
    padding: 9.6rem 10%;
  }

  @include media('<duo') {
    padding: 6.4rem 10%;
  }
}

.textblock__title {
  @extend %title-36;
  margin-bottom: 3.6rem
}

.textblock__paragraphs {
  @extend %text-18;

  p {
    visibility: hidden;
  }
}
