*,
*:after,
*:before {
    box-sizing: border-box;
    //user-select: none;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    height: 100%;
    font-size:calc(100vw/1920 * 16);

    @include media('<tablet-v') {
        font-size:calc(100vw/768 * 12);
    }

    @include media('<tablet') {
        font-size:calc(100vw/1024 * 8);
    }

    @include media('<duo') {
        font-size:calc(100vw/540 * 8);
    }
    
    @include media('<phone') {
        font-size:calc(100vw/450 * 8);
    }
}

a {
    cursor: none;
    color:inherit;
    outline: none;
    text-decoration: none;
}

body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    height: 100%;
    font-weight: 300;
    font-size:24px;
    background-color: $color-black;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

img {
    opacity: 1;
    // vertical-align: middle;
}





