@import '../../styles/index.scss';


.header {
  z-index: 5;
}

.header__wrapper {
  position: fixed;
  padding: 2.4rem 3.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, 
  rgb(255, 255, 255) 0%,
  rgba(255, 255, 255, 0.85) 45%, 
  rgba(255, 255, 255, 0) 100%);

  @include media('<duo') {
    padding: 2.4rem 1.6rem;
  }
}

.header__logo__wrapper {
  cursor: pointer;

  @include media('<duo') {
    width: 4.8rem;
  }
}

.header__links__wrapper {
  display: flex;
  align-items: center;
  gap: 3.6rem;

  @include media('<duo') {
    gap: 2.4rem;
  }
}

.header__link__wrapper {
  height: auto;

  @include media('<duo') {
    height: 2.4rem;
  }
}

.header__link {
  @extend %link-16;
  @extend %link--hidden;
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}
