@import '../../styles/index.scss';

.contactform {
  background-color: $color-gray;
}

.contactform__wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 9.6rem 3.6rem;
  // height: 900px;

  display: flex;
  flex-direction: row;
  align-items: center;

  @include media('<tablet-v') {
    padding: 4.8rem 1.6rem;
    flex-direction: column;
  }
}

.contactform__image__wrapper {
  width: 50%;
  height: 50rem;

  @include media('<tablet-v') {
    display: none;
  }

  .contactform__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}



.contactform__content__wrapper {
  width: 50%;
  padding: 0 3.6rem;

  @include media('<tablet-v') {
    padding: 0 1.6rem;
    width: 100%;
    text-align: center
  }
}

.contactform__title {
  @extend %title-36;

  strong {
    color: $color-black;
  }

  margin-bottom: 2.4rem;
}

.contactform__description {
  @extend %text-18;
}

.contactform__inputs__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  margin-top: 3.6rem;

  input {
    height: 6.4rem;
    background-color: $color-white;
    border: 1px solid $color-darkgray;
    border-radius: 1.6rem;
    padding: 0 2.4rem;

    &.error {
      border-color: $color-red;
    }

    @include media('<tablet-v') {
      height: 4.8rem;
    }
  }
}

.success__modal__wrapper {
  width: 100%;
  visibility: hidden;
  position: fixed;
  z-index: 6;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .success__modal {
    position: absolute;
    z-index: 1;
    width: 50rem;
    // height: 40rem;
    background-color: $color-white;
    border-radius: 1.6rem;
    text-align: center;
    padding: 3.6rem;

    @include media('<tablet-v') {
      width: unset;
      margin: auto 2.4rem;
    }
  }

  .success__modal__background {
    width: 100%;
    height: 100%;
    background-color: $color-black;
    opacity: 0.35;
  }
}

.error__caption {
  font-size: 1.6rem;
  color: $color-red;
  margin-bottom: 1.6rem;
}

.contactform__input__helper {
  font-size: 1.8rem;

  @include media('<tablet-v') {
    font-size: 1.4rem;
  }
}

.contactform__button {
  margin-top: 3.6rem;
  &:disabled {
    background-color: $color-darkgray;
  }

  @include media('<tablet-v') {
    margin-top: 2.4rem;
  }
}

.success__modal__image__wrapper {

}

.success__modal__title {
  @extend %title-36;
  margin-bottom: 2.4rem;
}

.success__modal__description {
  @extend %text-18;
  margin-bottom: 2.4rem;
}

.success__modal__button {
  font-family: 'Inter';
  font-size: 1.6rem;
}
