.custom__cursor {

  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  // border: 2px solid $color-green;
  // mix-blend-mode: exclusion;
  // box-shadow: 0 0 0 1px $color-white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9 !important; 

  display: flex;
  align-items: center;
  justify-content: center;
  }

.custom__cursor__dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  background-color: $color-red;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9 !important;
  // box-shadow: 0 0 0 1px $color-white; 
}