@import '../styles/index.scss';

.aboutus {

}

.aboutus__wrapper {
  // padding-top: 9.6rem;
}

.aboutus__heading__wrapper,
.aboutus__team__heading__wrapper {
  margin: 2.4rem auto;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus__team__heading__wrapper {
  margin-top: 6.4rem;
}

.aboutus__heading__wrapper {
  padding-top: 9.6rem;
  padding-bottom: 6.4rem;
  background-color: $color-gray;
}

.aboutus__title,
.aboutus__team__title {
  margin-bottom: 3.6rem;
  @extend %title-52;
}

.aboutus__description,
.aboutus__team__description {
  @extend %text-18;
  width: 60%;
  margin: auto;
  text-align: center;
}

.aboutus__team__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 3.6rem;
  margin-bottom: 6.4rem;

  @include media('<duo') {
    flex-direction: column;
  }
}

.aboutus__team__member__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 3.6rem;

  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4) {
    width: 45%;

    @include media('<duo') {
      width: 100%;
    }
  }

  &:nth-of-type(5),
  &:nth-of-type(6),
  &:nth-of-type(7) {
    width: 30%;

    @include media('<duo') {
      width: 100%;
    }
  }
}

.aboutus__team__member__photo__wrapper {
  width: 16.8rem;
  height: 16.8rem;
  border-radius: 50%;
  margin-bottom: 3.6rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.aboutus__team__member__name {
  @extend %title-24;
  margin-bottom: 1.6rem;
}

.aboutus__team__member__position {
  @extend %text-18;
  margin-bottom: 2.4rem;
}

.aboutus__team__member__description {
  @extend %text-14;
}

.aboutus__badges__wrapper {
  padding: 9.6rem 0;
  width: 100%;
  background-color: $color-gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.aboutus__badges__title {
  @extend %title-52;
}

.aboutus__badges {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  margin-top: 4.8rem;
}

.aboutus__badge__wrapper {

}

.aboutus__badge__image__wrapper {
  width: 16rem;
  height: 16rem;
  mix-blend-mode: multiply;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

