@import '../../styles/index.scss';

.prosicons {
  padding: 9.6rem 0;
  background-color: $color-gray;
  text-align: center;

  @include media('<duo') {
    padding: 4.8rem 0;
    margin-top: 4.8rem;
  }
}

.prosicons__wrapper {
  max-width: 1440px;
  margin: auto;
}

.prosicons__title__wrapper {
  width: 80%;
  margin: auto;

  @include media('<duo') {
    width: 90%;
  }
}

.prosicons__title {
  @extend %title-36;
  margin-bottom: 3.6rem;
}

.prosicons__description {
  @extend %text-18;
}

.prosicons__points__wrapper {
  margin-top: 6.4rem;
  display: flex;
  flex-direction: row;

  &.v2 {
    justify-content: center;
  }

  @include media('<duo') {
    margin-top: 3.6rem;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3.6rem;
  }
}

.prosicons__point__wrapper {
  width: calc(100%/5);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media('<duo') {
    width: 25rem;
  }
}

.prosicons__point__icon__wrapper {
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  background-color: $color-lightred;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.4rem;

  &.v2 {
    background-color: $color-white;
    border: 2px solid $color-red;
  }
}

.prosicons__point__icon {

}

.prosicons__point__content__wrapper {
  padding: 0 1.2rem;
}

.prosicons__point__title {
  @extend %title-24;
  margin-bottom: 1.2rem;
}

.prosicons__point__description {
  @extend %text-14;
}
